<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Import the Bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <!-- Import our custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

    <title>{{ title }}</title>
</head>

<body>
    <body onload="checkToggleBtn();"></body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/"><img style="max-height: 30px;" src="{{ url_for('static', filename='img/favicon.png') }}" alt="">RaspberryApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/configs/configs">Configurations</a>
                </li>
            </ul>
        

            <ul class="navbar-nav ml-md-auto" >

                <li class="nav-item navbar-nav ">
                    <a class="nav-link" href="/">Return to site</a>
                </li>
                <li class="nav-item navbar-nav ">
                   
                    <input id="toggle-sensors" type="checkbox" data-toggle="toggle" data-on="Stop Sensors" data-off="Fire up Sensors" data-width="170" data-height="40"data-onstyle="success" data-offstyle="danger">
               
                </li>
                <li>
                    <div class="input-group">
                        <select class="custom-select" id="inputFreq" required onchange="enableButton()">
                          <option value= "">Samples Frequence</option>
                          <option value="10000">per 10 sec</option>
                          <option value="30000">per 30 sec</option>
                          <option value="60000">per 1 min</option>
                          <option value="300000">per 5 min</option>
                        </select>
                        <div class="input-group-append">
                           
                          <button class="btn btn-outline-primary" onclick="submit_samplesFreq()" type="button" id="btnFreq" disabled>Submit</button>
                        </div>
                </li>
            </ul>
        </div>

    </nav>

    <main>
        {% block main %}{% endblock main %}
    </main>

    <!-- Import jquery 3.3.1 slim min -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <!-- Import Bootstrap bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <!-- Import our custom JavaScript -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

     <!-- Import Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

    {% block script %}{% endblock %}
</body>

</html>