{% extends "admin/templates/admin_template.html" %}

{% block main %}
<body onload="get_last_data();">
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Admin Dashboard</h1>
    </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-danger" onclick="get_temp();">Get Temperature</button>
    </div>
  </div>
  <div class="col mt-3">
    <p id="temp"></p>
  </div>  
  <div class="col mt-5">
    <canvas id="myChart" width="100" height="50"></canvas>
  </div>
  <h5>Must be fire up the sensors for live chart</h5>  
  </div>
</div>

{% endblock %}
