{% extends "public/templates/public_template.html" %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      
      <h1>Profile</h1>
      <hr>

        <div class="card">
            <div class="card-body">
                {% if user %}
                <h4 class="card-title">{{ username }}</h5>
                <hr>
                <p><strong>{{ user["name"] }}</strong></p>
                <p class="text-muted">{{ user["bio"] }}</p>
                <p style="color: blue"><em>{{ user["twitter_handle"] }}</em></p>
                {% else %}
                <p>User <strong> {{ username }} </strong></p>
                {% endif %}
            </div>
        </div>


    </div>
  </div>
</div>

{% endblock %}