{% extends "public/templates/public_template.html" %}

{% block main %}
<!-- <a id= "relaystatus">{{relayStatus}}</a> -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ title }} Page</h1>
      <div class="form-check form-switch">
        <input class="form-check-input" id="relayS" type="checkbox" />
        <label class="form-check-label" for="relay">Relay Switch</label>
      </div>
    </div>
  </div>
</div>


{% endblock %}