{% extends "public/templates/public_template.html" %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Sign up</h1>
      <hr>

      <form action="/sign-up" method= "POST">

        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" name="username", placeholder="Enter your name">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="email" name="email", placeholder="Enter your email">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password", placeholder="Enter password">
        </div>

        <button type="submit" class="btn btn-primary mt-1">Sign up</button>

      </form>



    </div>
  </div>
</div>

{% endblock %}