{% extends "public/templates/public_template.html" %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Temperature Page</h1>
    </div>
  </div>
</div>

{% endblock %}