<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Import the Bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Import our custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

    <title>{{ title }}</title>
</head>

<body>

    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/favicon.png') }}" height= "30" alt="" loading="lazy" >RpiApp</a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-mdb-toggle="collapse" 
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/profile/elonmusk">Profile</a>
                </li> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/temp">Temperatures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/relay">Relay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/video">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ph">PH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hum">Humidity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sign-up">Sign-up</a>
                </li>
                <!-- <div id="MyClockDisplay" class="clock" onload="showTime()"></div> -->
                <li class="nav-item">
                    <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        {% block main %}{% endblock %}
        
    </main>

    <footer class="bg-light text-center text-lg-start mt-3">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2021 Copyright:
          
          <a class="text-dark" href="#">dr0.com</a>
          
        </div>
        
        <!-- Copyright -->
      </footer>

    <!-- Import jquery 3.3.1 slim min -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <!-- Import Bootstrap bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Import our custom JavaScript -->

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    {% block script %}{% endblock %}

</body>

</html>