body {
    background-color: #eeeeee;
  }


  .ml-md-auto, .mx-md-auto {
    margin-left: auto !important;
}


.clock {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #63f34f;
  font-size: "auto";
  font-family: Orbitron;
  letter-spacing: 7px;
  background-color: #0f1053;
}
