{% extends "admin/templates/admin_template.html" %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Example with AJAX</h1>
      <hr>

      <p>Make asynchronus requests from the client to your application using
        some basic vanilla JavaScript and the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API"
          target="_blank" rel="noopener noreferrer">Fetch API</a>.</p>
      <p>The Fetch API supersedes XML AJAX requests, allowing a relitively
        clean and simple promise based way to post and fetch data to and from the server,
        with a simple yet powerful feature set for catching errors and bad requests.</p>
      <hr>

      <h3>Guestbook</h3>

      <div class="mb-3">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your name">
        </div>

        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control mb-3" id="message" cols="30" rows="3" placeholder="Your message"></textarea>
        </div>

        <button class="btn btn-primary" id="submit" onclick="submit_message();">Submit message</button>
      </div>

      <h3>Messages</h3>
      <hr>

      <div class="mb-3" id="messages">
        <h4 id=namem></h4>
        <p id=messagem></p>

      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block script %}



{% endblock %}