{% extends "admin/templates/admin_template.html" %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Configurations Page</h1>
      <hr>

      <div class="card">
        <div class="card-body">  
          
          <ul>
            <li><h4><a href="/configs/jinja">Jinja Features</a></h4></li>
            
            <li><h4>Profile Pages</h4></li>
            <ol>
              <li><a href="/profile/mitsuhiko" target="_blank">mitsuhiko</a></li>
              <li><a href="/profile/gvanrossum" target="_blank">gvanrossum</a></li>
              <li><a href="/profile/elonmusk" target="_blank">elonmusk</a></li>
              <li><a href="/profile/someone" target="_blank">unregistered profile</a></li>
            </ol>
            
            <li><h4><a href="/configs/ajax">AJAX</a></h4></li>
          
          </ul>

        </div>
      </div>



    </div>
  </div>
</div>

{% endblock %}
