{% extends "admin/templates/admin_template.html" %}
{% import "macros/input_macros.html" as im %}


{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Jinja templating syntax and features.</h1>
      <hr>

      <h4>Description:</h4>
      <p>Official <a href= "https://jinja.palletsprojects.com/en/2.11.x/" target="_blank"
        rel="noopener noreferrer">Jinja</a> docs: <a href="https://jinja.palletsprojects.com/en/2.11.x/templates/#" target="_blank"
          rel="noopener noreferrer">Template Designer Documentation</a><br>
        <a href="https://pythonise.com/series/learning-flask/jinja-template-design#" target="_blank"
          rel="noopener noreferrer">Tutorial Page</a>
      </p>
      <hr>

      <h4>Accessing an objects value</h4>
      <p>Access an objects value in Jinja by passing it in between a pair of curly braces {{ like_so }}</p>

      <p>Hello {{ my_name }} !</p>
      <hr>

      <h4>Looping through an iterable</h4>

      <strong class="d-block mb-3">Programming languages</strong>
      <ul>
        {% for lang in langs %}
        <li>{{ lang }}</li>
        {% endfor %}
      </ul>
      <hr>

      <h4>Looping and enumerating an iterable</h4>

      <strong class="d-block mb-3">Programming languages</strong>
      <ul>
        {% for lang in langs %}
        <li>{{ loop.index0 }} - {{ lang }}</li>
        {% endfor %}
      </ul>
      <hr>

      <h4>Looping key/value pairs in a dict</h4>

      <strong class="d-block mb-3">Friends & ages</strong>
      <ul>
        {% for name, age in friends.items() %}
        <li>{{ name }}: {{ age }}</li>
        {% endfor %}
      </ul>
      <hr>

      <h4>Calling functions</h4>

      <p>{{ repeat("Jinja is great! ", 10) }}</p>
      <hr>

      <h4>List index</h4>

      <p>{{ langs[0] }}</p>
      <hr>

      <h4>Dictionary value</h4>

      <p>{{ friends["Tony"] }}</p>
      <hr>

      <h4>Class attributes</h4>

      <p>{{ my_remote.name }}</p>
      <p>{{ my_remote.description }}</p>
      <p>{{ my_remote.domain }}</p>
      <hr>

      <h4>Class methods</h4>


      <hr>

      <h4>Create a class</h4>

      {% set new_repo = GitRemote(
      name="Learning Java",
      description="Learn the Flask web framework for Java",
      domain="https://github.com/Julian-Nash/learning-java.git")
      %}
      <p>{{ new_repo.name }}</p>
      <p>{{ new_repo.description }}</p>
      <p>{{ new_repo.domain }}</p>
      <hr>

      <h4>Unpack variables</h4>

      {% set foo, bar = colors %}
      <p>{{ foo }}</p>
      <p>{{ bar }}</p>
      <hr>

      <h4>Conditional if</h4>
      {% if cool %}
      <p>Cool = {{ cool }}</p>
      {% endif %}
      <hr>

      <h4>Conditional if/elif</h4>

      {% if my_age < 18 %} <p>No entry</p>
      {% elif my_age <= 25 %} <p>You may enter</p>
      {% else %}
      <p>Entry denied. You're not cool enough</p>
      {% endif %}
      <hr>

      <h4>Built in filters (length)</h4>

      <p>{{ langs|length }}</p>
      <hr>

      <h4>Filters & conditionals</h4>
 
      {% if langs|length > 2 %}
      {% for lang in langs %}
      {% if lang == "Python" %}
      <p>{{ lang|upper }}</p>
      {% else %}
      <p>{{ lang|reverse }}</p>
      {% endif %}
      {% endfor %}
      {% endif %}
      <hr>

      <h4>Custom filters</h4>
      
      <p>Date at UTC:  {{ date }}</p>
      {{ date|clean_date }}
      <hr>

      <h4>Escaped</h4>
      
      {{ my_html }}
      <hr>

      <h4>Marked as safe</h4>

      {{ my_html|safe }}
      <hr>

      <h4>Suspicious script (marked as safe)</h4>

      {{ suspicious|safe }}
      <hr>
      
      <h4>Macros</h4>
      
      <form action="#" method="POST">
      
          {{ im.input(label="Name", id="name", name="name", placeholder="Enter your name") }}
      
          {{ im.input(label="Email", type="email", id="email", name="email", placeholder="Enter your email") }}
      
          {{ im.input(label="Password", type="password", id="password", name="password", placeholder="Enter your password") }}

      </form>
      <button type="button" class="btn mr-3 btn-primary">Submit</button>
      <hr>



    </div>
  </div>
</div>

{% endblock %}